.App {
  text-align: center;
  background-color: #ffffff;
}

.Footer {
  text-align: center;
  background-color: #ffffff;
}

.App-header {
  background-color: #3a5896;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Section-header {
  background-color: #373c47;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-table {
  background-color: #ffffff;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 5vh;
}


.App-link {
  color: #61dafb;
}

